colorama
Flask
Flask-SQLAlchemy
Flask-Caching
psycopg2-binary
SQLAlchemy
typing_extensions
zipp
python-dateutil
gunicorn
pandas
Flask-Login
alembic
colorlog
pyaml
protobuf
betterproto[compiler]
pytest
