{% extends 'base.html' %}

{% block title %}Создание нового офиса{% endblock %}

{% block content %}

<div class="d-grid gap-2 d-mb-block mb-4">

    <form role="form" action="{{ url_for('master.create_office') }}" method="POST" id="form">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="mb-5">
                <label for="idcomp" class="form-label"><strong>Счет фирмы:</strong></label>
                <input id="idcomp" type="number" name="company_bank_account" class="form-control text-center" placeholder="Введите данные">
            </div>

            <div class="mb-5">
                <label for="cityname" class="form-label"><strong>Название города для офиса:</strong></label>
                <input id="cityname" type="text" list="list-cities" name="city_bank_account" class="form-control text-center" placeholder="Введите данные">
                <datalist id="list-cities">
                    {% for city in cities %}
                        <option> {{ city }} </option>
                    {% endfor %}
                </datalist>
            </div>

            <div class="mb-5">
                <label for="count" class="form-label"><strong>Стоимость офиса в надиках</strong></label>
                <input id="count" type="number" name="amount" class="form-control text-center" placeholder="Введите данные">
            </div>

            <div class="d-grid gap-2 d-mb-block mb-4">
                <button type="submit" class="btn btn-success btn-lg mb-3">Подтверждаю</button>
            </div>

    </form>

</div>



{% endblock %}
