{% extends 'main/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <form method="POST">
        <div class="container">
            <label for="Login"><b>Логин</b></label>

            <input type="text" placeholder="" name="Login" required>
            <label for="Password"><b>Пароль</b></label>
            <input type="password" placeholder="" name="Password" required>
            <button type="submit">Войти</button>
    </form>

    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/auth.css') }}">
{% endblock %}