{% extends 'login/base.html' %}

{% block title %} Login {% endblock %}

{% block content %}

<main class="form-signin">
    <form method="POST">
        <p></p>
        <h1 class="h3 mb-3 fw-normal text-center">Пожалуйста, войдите</h1>
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" name="Login" required placeholder="Login">
            <label for="floatingInput">Логин</label>
        </div>
        <p></p>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" name="Password" required placeholder="Password">
            <label for="floatingPassword">Пароль</label>
        </div>
        <p></p>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Войти</button>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    </form>
</main>

{% endblock %}
