.logo-small {
	height: 160px;
	width: 109.5px;
}

.fade-in {
	opacity: 0;
	animation: fadeInAnimation 0.6s ease-in forwards;
}

@keyframes fadeInAnimation {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

