{% extends 'main/base.html' %}

{% block title %}Про энегрию/ресурсы/товары{% endblock %}

{% block content %}

<!-- <form role="form" action="" method="POST" id="form">
    <select class="form-select form-select-lg mb-5">
        <option selected>Выберете действие</option>
        <option value="1">Списать/</option>
        <option value="2">Добавить</option>
    </select>

    <select class="form-select form-select-lg mb-5">
        <option selected>Выберете объект</option>
        <option value="1">Энергия</option>
        <option value="2">Ресурс</option>
        <option value="2">Товар</option>
    </select>

    <div class="mb-5 input-group input-group-lg">
        <span class="input-group-text" id="inputGroup-sizing-lg">Банк/id:</span>
        <input type="text" class="form-control text-center" placeholder="Введите данные">
    </div>

    <div class="d-grid gap-2 d-mb-block mb-4">
        <button type="submit" class="btn btn-success btn-lg mb-3">Подтверждаю</button>
    </div>
</form> -->


<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading1">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                Cписать надики
            </button>
        </h2>
        <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="heading1" data-bs-parent="#accordionExample">

            <form role="form" action="{{ url_for('master.add_money') }}" method="POST" id="form">
                <div class="accordion-body">

                    <div class="mb-5 input-group input-group-lg">
                        <span class="input-group-text" id="inputGroup-sizing-lg">Счет</span>
                        <input type="number" name="bank_account" class="form-control text-center" >
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    </div>

                    <div class="mb-5 input-group input-group-lg">
                        <span class="input-group-text" id="inputGroup-sizing-lg">Количество:</span>
                        <input type="number" name="count" class="form-control text-center" >
                    </div>

                    <div class="d-grid gap-2 d-mb-block mb-4">
                        <button type="submit" name="form_id" value="1" class="btn btn-success btn-lg mb-3">Подтверждаю</button>
                    </div>

                </div>
            </form>

        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="heading2">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                Добавить надики
            </button>
        </h2>
        <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2" data-bs-parent="#accordionExample">

            <form role="form" action="{{ url_for('master.add_money') }}" method="POST" id="1">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="accordion-body">

                    <div class="mb-5 input-group input-group-lg">
                        <span class="input-group-text" id="inputGroup-sizing-lg">Счет:</span>
                        <input type="number" name="bank_account" class="form-control text-center" >
                        <input type="hidden" name="form_id" value="2" >
                    </div>

                    <div class="mb-5 input-group input-group-lg">
                        <span class="input-group-text" id="inputGroup-sizing-lg">Количество:</span>
                        <input type="number" name="count" class="form-control text-center" >
                    </div>

                    <div class="d-grid gap-2 d-mb-block mb-4">
                        <button type="submit" name="form_id" value="2" class="btn btn-success btn-lg mb-3">Подтверждаю</button>
                    </div>

                </div>
            </form>

        </div>
    </div>


    <div class="accordion-item">
        <h2 class="accordion-header" id="heading5">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                Списать товар
            </button>
        </h2>
        <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5" data-bs-parent="#accordionExample">
            <form role="form" action="{{ url_for('master.action_with_product') }}" method="POST" id="form">
                <div class="accordion-body">

                    <div class="mb-5 input-group input-group-lg">
                        <span class="input-group-text" id="inputGroup-sizing-lg">Счет:</span>
                        <input type="number" name="bank_account" class="form-control text-center" >
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    </div>

                    <div class="mb-5 input-group input-group-lg">
                        <span class="input-group-text" id="inputGroup-sizing-lg">Название продукта:</span>
                        <input type="text" name="name" list="list-products" class="form-control text-center" >
                    </div>

                    <div class="mb-5 input-group input-group-lg">
                        <span class="input-group-text" id="inputGroup-sizing-lg">Количество продукта:</span>
                        <input type="number" name="count" class="form-control text-center" >
                    </div>

                    <div class="mb-5 input-group input-group-lg">
                        <span class="input-group-text" id="inputGroup-sizing-lg">Стоимость:</span>
                        <input type="number" name="amount" class="form-control text-center" >
                    </div>

                    <div class="d-grid gap-2 d-mb-block mb-4">
                        <button type="submit" name="form_id" value="3" class="btn btn-success btn-lg mb-3">Подтверждаю</button>
                    </div>

                </div>
            </form>

        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="heading6">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                Добавить товар
            </button>
        </h2>
        <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6" data-bs-parent="#accordionExample">
            <form role="form" action="{{ url_for('master.action_with_product') }}" method="POST" id="form">
                <div class="accordion-body">

                    <div class="mb-5 input-group input-group-lg">
                        <span class="input-group-text" id="inputGroup-sizing-lg">Счет:</span>
                        <input type="number" name="bank_account" class="form-control text-center" >
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    </div>

                    <div class="mb-5 input-group input-group-lg">
                        <span class="input-group-text" id="inputGroup-sizing-lg">Название товара:</span>
                        <input type="text" name="name" list="list-products" class="form-control text-center" >
                    </div>

                    <div class="mb-5 input-group input-group-lg">
                        <span class="input-group-text" id="inputGroup-sizing-lg">Количество:</span>
                        <input type="number" name="count" class="form-control text-center">
                    </div>

                     <div class="mb-5 input-group input-group-lg">
                        <span class="input-group-text" id="inputGroup-sizing-lg">Стоимость:</span>
                        <input type="number" name="amount" class="form-control text-center">
                     </div>

                    <div class="d-grid gap-2 d-mb-block mb-4">
                        <button type="submit" name="form_id" value="4" class="btn btn-success btn-lg mb-3">Подтверждаю</button>
                    </div>

                </div>
            </form>

            <datalist id="list-products">
                {% for product in products %}
                    <option> {{ product }} </option>
                {% endfor %}
            </datalist>
        </div>
    </div>


</div>



{% endblock %}
