{% extends 'main/base.html' %}

{% block title %}Личный кабинет мэрии{% endblock %}

{% block content %}

<div class="text-wrap text-center d-flex flex-wrap align-items-center justify-content-center mb-3">
    <h3><strong>Мэрия "Надежды"</strong></h3>
</div>

<style>
    .blur {
        position:relative;
    }

    .blur:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(0deg, rgba(101,195,228,0.6601466992665037) {{ 100 - (balance/1000) }}%, rgba(251,171,0,0.5990220048899755) {{ balance/1000 }}%);
        filter: blur(16px);
        z-index:0;
    }

    .blur span {
        position:relative;
        z-index:1;
    }
</style>

<div class="text-center mb-3 rounded blur" style="text-align: center;">
    <span><strong>Баланс: {{ balance }}</strong> Ψ</span>
</div>

<table class="table table-striped">
    <thead>
        <td colspan="2">Данные о городе:</td>
    </thead>               
    <tbody>
        <tr>
            <th>Номер банковского счета:</th>
            <td>{{ bank_account }}</td>
        </tr>
        <tr>
            <th>Мэр:</th>
            <td>
                {% if mayor %}
                    {{ mayor }}
                {% else %}
                    У мэрии пока нет мэра
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Министр экономики:</th>
            <td> 
                {% if economic_assistant %}
                    {{ economic_assistant }}
                {% else %}
                    У мэрии пока нет министра экономики
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Министр социальной политики:</th>
            <td> 
                {% if social_assistant %}
                    {{ social_assistant }}
                {% else %}
                    у мэрии пока нет министра социальной политики
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>

<!-- <div class="text-wrap text-start mb-1">
    <p class="mb-1"><strong>Мэр:</strong> {{ mayor }}</p>
</div>

<div class="text-wrap text-start mb-1">
    <p class="mb-1"><strong>Министр экономики:</strong> {{ economic_assistant }}</p>
</div>

<div class="text-wrap text-start mb-4">
    <p class="mb-1"><strong>Министр социальной политики:</strong>  {{ social_assistant }}</p>
</div>

<div class="text-wrap text-start mb-2">
    <p class="mb-1"><strong>Расчётный счёт:</strong> {{ bank_account }}</p>
</div> -->


<div class="text-wrap text-start mb-5">
    <p class="mb-1"><strong>Цель по доходу в день:</strong> <b>n</b> надиков, выполнено:</p>
    <div class="progress">
        <div class="bg-success progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100" style="width: 66%">66%</div>
    </div>
</div>

{% endblock %}