{% extends 'main/base.html' %}

{% block title %}Личный кабинет мэрии{% endblock %}

{% block content %}

<div class="text-wrap text-center d-flex flex-wrap align-items-center justify-content-center mb-3">
    <h3><strong>Мэрия "Надежды"</strong></h3>
</div>

<style>
    .blur {
        position:relative;
    }

    .blur:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(0deg, rgba(101,195,228,0.6601466992665037) {{ 100 - (balance/1000) }}%, rgba(251,171,0,0.5990220048899755) {{ balance/1000 }}%);
        filter: blur(16px);
        z-index:0;
    }

    .blur span {
        position:relative;
        z-index:1;
    }
</style>

<div class="text-center mb-3 rounded blur" style="text-align: center;">
    <span><strong>Баланс: {{ balance }}</strong> Ψ</span>
</div>

<table class="table table-striped">
    <thead>
        <td colspan="2">Данные о городе:</td>
    </thead>               
    <tbody>
        <tr>
            <th>Номер банковского счета:</th>
            <td>{{ bank_account }}</td>
        </tr>
        <tr>
            <th>Мэр:</th>
            <td>
                {% if mayor %}
                    {{ mayor }}
                {% else %}
                    У мэрии пока нет мэра
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Министр экономики:</th>
            <td> 
                {% if economic_assistant %}
                    {{ economic_assistant }}
                {% else %}
                    У мэрии пока нет министра экономики
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Министр социальной политики:</th>
            <td> 
                {% if social_assistant %}
                    {{ social_assistant }}
                {% else %}
                    у мэрии пока нет министра социальной политики
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>

{% if goal %}
<div class="text-wrap text-start mb-5">
    <p class="mb-1"><strong>Цель по доходу в день:</strong> <b>{{ goal.value }}</b> Ψ</p>
    <div class="progress">
        <div class="bg-success progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow={{ goal.rate }} aria-valuemin="0" aria-valuemax="100" style="width: {{ goal.rate }}%">{{ goal.rate }}%</div>
    </div>
</div>
{% else %}
<div class="text-wrap text-start mb-5">
    <p class="mb-1"><strong>Цель по доходу в день:</strong> <b>не установлена</b> Ψ</p>
</div>
{% endif %}

{% if roles['economic_assistant'] %}
<div class="d-grid gap-2 d-mb-block mb-4">

    <form action="{{ url_for( 'proposal.new_money_transaction', _external=True ) }}" method="GET">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="hidden" name="account" value="{{ bank_account }}">
        <button class="btn btn-outline-dark btn-lg mb-3" style="width: 100%" type="submit">Перевод средств</button>
    </form>

    <form action="{{ url_for( 'proposal.view_history', _external=True ) }}" method="GET">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="hidden" name="account" value="{{ bank_account }}">
        <button class="btn btn-outline-dark btn-lg mb-3" style="width: 100%" type="submit">История транзакций</button>
    </form>
</div>
<p></p>
{% endif %}

{% if roles['social_assistant'] %}
<button class="btn btn-outline-dark btn-lg mb-3" style="width: 100%" type="button" data-bs-toggle="collapse" data-bs-target="#bankrupts" aria-expanded="false" aria-controls="bankrupts">
    Банкроты
</button>
<div class="collapse table-responsive mb-3" id="bankrupts">
    <table class="table">
        <thead>
            <tr>
                <th scope="col" colspan="7"> Банкроты </th>
            </tr>
        </thead>
        <tbody>
        {% if bankrupt_users %}
            <tr>
                <th scope="col"> Номер Счета </th>
                <th scope="col" colspan="4"> ФИО </th>
                <th scope="col"> Город </th>
                <th scope="col"> Задолженность </th>
            </tr>
        {% endif %}
        {% for user in bankrupt_users %}
            <tr>
                <td class="table-light"> {{ user.bank_account_id }} </td>
                <td class="table-light" colspan="4"> {{ user.full_name_string }} </td>
                <td class="table-light"> {{ user.city_name }} </td>
                <td class="table-light"> {{ user.minus }} </td>
            </tr>
        {% endfor %}
        {% if bankrupt_companies %}
            <tr>
                <th scope="col"> Номер Счета </th>
                <th scope="col" colspan="4"> Название компании </th>
                <th scope="col" colspan="2"> Задолженность </th>
            </tr>
        {% endif %}
        {% for company in bankrupt_companies %}
            <tr>
                <td class="table-light" colspan="2"> {{ company.bank_account_id }} </td>
                <td class="table-light" colspan="3"> {{ company.name }} </td>
                <td class="table-light" colspan="2"> {{ company.minus }} </td>
            </tr>
        {% endfor %}
        {% if bankrupt_cities %}
            <tr>
                <th scope="col"> Номер Счета </th>
                <th scope="col" colspan="3"> Название города </th>
                <th scope="col" colspan="2"> Префектура </th>
                <th scope="col" colspan="1"> Задолженность </th>
            </tr>
        {% endif %}
        {% for city in bankrupt_cities %}
            <tr>
                <td class="table-light" colspan="2"> {{ city.bank_account_id }} </td>
                <td class="table-light" colspan="2"> {{ city.name }} </td>
                <td class="table-light" colspan="2"> {{ city.prefecture_name }} </td>
                <td class="table-light" colspan="1"> {{ city.minus }} </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<p></p>
{% endif %}

{% endblock %}