{% extends 'main/base.html' %}

{% block title %}Личный кабинет города{% endblock %}

{% block content %}

<div class="text-wrap text-center d-flex flex-wrap align-items-center justify-content-center mb-3">
    <h3><strong>Город {{ city.name }}</strong></h3>
</div>

<div class="text-wrap text-start mb-1">
    <p class="mb-1"><strong>Глава города:
        {% if mayor %}
            {{ mayor.last_name }} {{ mayor.name }}
        {% else %}
            У этого города пока нет главы.
        {% endif %}
    </strong></p>
</div>

<div class="text-wrap text-start mb-1">
    <p class="mb-1"><strong>Регистрация:</strong>
        louem.
    </p>
</div>

<div class="text-wrap text-start mb-4">
    <p class="mb-1"><strong>Адрес:</strong> корпус N, комната №{{ city.location }}</p>
</div>
<div class="text-wrap text-start mb-4">
    <p class="mb-1"><strong>Расчётный счёт:</strong> <b>{{ city.bank_account }}</b></p>
</div>

<div class="d-grid gap-2 d-mb-block mb-5">
    <button class="btn btn-outline-primary btn-lg mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#population" aria-expanded="false" aria-controls="population">
        Жители
    </button>
    <div class="collapse" id="population">
        <div class="card card-body">
            <ul>
                {% for resident in residents %}
                    <li>{{ resident.name }} {{ resident.last_name }} ({{ resident.bank_account_id }})</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <button class="btn btn-outline-primary btn-lg mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#offices" aria-expanded="false" aria-controls="offices">Офисы фирм</button>
    <div class="collapse" id="offices">
        <div class="card card-body">
            <ul>
                {% for company in companies %}
                    {{ company.name }}
                {% endfor %}
            </ul>
        </div>
    </div>

    <button class="btn btn-outline-primary btn-lg mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#products" aria-expanded="false" aria-controls="products">Список товаров</button>
    <div class="collapse" id="products">
        <div class="card card-body">
            <ul>
                {% for product in products %}
                    <li>{{ product.name }} {{ product.count }} шт.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}