{% extends 'main/base.html' %}

{% block title %}Личный кабинет города{% endblock %}

{% block content %}

<div class="text-wrap text-center d-flex flex-wrap align-items-center justify-content-center mb-3">
    <h3><strong>Город {{ city.name }}</strong></h3>
</div>

<div class="text-wrap text-start mb-1">
    <p class="mb-1"><strong>Глава города:</strong>
        {% if mayor %}
            {{ mayor.last_name }} {{ mayor.name }}
        {% else %}
            У этого города пока нет главы.
        {% endif %}
    </p>
</div>

<div class="text-wrap text-start mb-1">
    <p class="mb-1"><strong>Префектура:</strong>
        {{ prefecture }}
    </p>
</div>

<div class="text-wrap text-start mb-4">
    <p class="mb-1"><strong>Адрес:</strong> {{ city.location }}</p>
</div>
<div class="text-wrap text-start mb-4">
    <p class="mb-1"><strong>Расчётный счёт:</strong> <b>{{ city.bank_account_id }}</b></p>
</div>

<div class="d-grid gap-2 d-mb-block mb-5">
    <button class="{{ color_for_big_button }} btn-lg mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#population" aria-expanded="false" aria-controls="population">
        Жители
    </button>
    <div class="collapse" id="population">
        <div class="card card-body">
            <ul>
                {% for resident in residents %}
                    <li>{{ resident.name }} {{ resident.last_name }} ({{ resident.bank_account_id }})</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <button class="{{ color_for_big_button }}y btn-lg mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#offices" aria-expanded="false" aria-controls="offices">Офисы фирм</button>
    <div class="collapse" id="offices">
        <div class="card card-body">
            <ul>
                {% for company in companies %}
                    {{ company.name }}
                {% endfor %}
            </ul>
        </div>
    </div>

    <button class="{{ color_for_big_button }} btn-lg mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#products" aria-expanded="false" aria-controls="products">Список товаров</button>
    <div class="collapse" id="products">
        <div class="card card-body">
            <ul>
                {% for product in products %}
                    <li>{{ product.name }} {{ product.count }} шт.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <p></p>
    <form action="{{ url_for( 'proposal.view_transaction') }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type="hidden" name="other_bank_account" value="{{ city.bank_account_id }}">
        <button class="{{ color_for_big_button }} btn-lg mb-3" style="width: 100%;" type="submit">
          Счета
        </button>
    </form>
    <form style="width: 100%;" action="{{ url_for( 'proposal.view_history') }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type="hidden" name="other_bank_account" value="{{ city.bank_account_id }}">
        <button class="{{ color_for_big_button }} btn-lg mb-3" style="width: 100%;" type="submit">
          История счетов
        </button>
    </form>

</div>

{% endblock %}