{% extends 'main/base.html' %}

{% block title %}Личный кабинет фирмы{% endblock %}

{% block content %}

<div class="row gy px-3 mb-3">
    <div class="col-3">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident autem vero pariatur rem repellat nisi, maxime deleniti, incidunt ullam magni fugiat mollitia, quos aut eius est beatae at ab expedita!
    </div>
    <div class="col-6 text-center">
        <h2>Личный кабинет фирмы</h2>
    </div>
    <div class="col-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus rerum odit neque dolorum fugit sapiente pariatur numquam tempora, velit voluptatem qui, quia ipsam facilis suscipit! Placeat doloribus dicta molestias unde.
    </div>
</div>
<div class="row gy px-3 mb-3">
    <div class="col-3">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident autem vero pariatur rem repellat nisi, maxime deleniti, incidunt ullam magni fugiat mollitia, quos aut eius est beatae at ab expedita!
    </div>
    <div class="col-6">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur itaque quod cumque commodi, saepe quam officiis dignissimos blanditiis ex, nihil porro. Consequatur excepturi culpa nobis, commodi id quod alias repellendus?
    </div>
    <div class="col-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus rerum odit neque dolorum fugit sapiente pariatur numquam tempora, velit voluptatem qui, quia ipsam facilis suscipit! Placeat doloribus dicta molestias unde.
    </div>
</div>

{% endblock %}