{% extends 'main/base.html' %}

{% block title %}Список личных кабинетов фирм{% endblock %}

{% block content %}

<div class="text-wrap text-center d-flex flex-wrap align-items-center justify-content-center mb-3">
    <h3><strong>Список доступных фирм</strong></h3>
</div>
<div>
    <ul>
    {% for company in companies %}
      <li>
          <a href="{{ url_for('accounts.company_cabinet', company_id=company.company_id) }}">{{ company.name }}, id={{ company.company_id }}</a>
      </li>
    {% endfor %}
    </ul>
</div>

{% endblock %}