{% extends 'main/base.html' %}

{% block title %}Приём на работу сотрудника{% endblock %}

{% block content %}


<div class="text-wrap text-center d-flex flex-wrap align-items-center justify-content-center mb-3">
    <h3><strong>Фирма "{{ company.name }}"</strong></h3>
</div>

<form style="display: grid;" action="{{ url_for('accounts.company_worker_employment') }}" method="POST">
    <input type="hidden" name="company_id" value="{{ company.id }}">
    {{ form.csrf_token }}

    <div class="mb-3">
        <strong>{{ form.bank_account_id.label(class="form-label") }}</strong> {{ form.bank_account_id(class="form-control text-center") }}
    </div>
    <div class="mb-3">
        <strong>{{ form.role.label(class="form-label") }}</strong> {{ form.role(class="form-select text-center") }}
    </div>

    <p></p>
    <div class="d-grid gap-2 d-mb-block mb-4">
        {{ form.submit(type="submit", class="btn btn-success") }}
    </div>

</form>

{% endblock %}
