{% extends 'main/base.html' %}

{% block title %}Личный кабинет фирмы{% endblock %}

{% block content %}

<div class="text-wrap text-center d-flex flex-wrap align-items-center justify-content-center mb-3">
    <h3><strong>Фирма "{{ company.name }}"</strong></h3>
</div>

<div class="text-center text-wrap border-bottom pb-3 mb-3">
    <p class="mb-1"><strong>Цель по доходу в день:</strong> <b>{{ goal.value }}</b> Ψ</p>
    <div class="progress">
        <div class="bg-success progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow={{ goal.rate }} aria-valuemin="0" aria-valuemax="100" style="width: {{ goal.rate }}%">{{ goal.rate }} %</div>
    </div>
</div>
<style>
    .blur {
        position:relative;
    }

    .blur:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(0deg, rgba(101,195,228,0.6601466992665037) {{ 100 - (balance/1000) }}%, rgba(251,171,0,0.5990220048899755) {{ balance/1000 }}%);
        filter: blur(16px);
        z-index:0;
    }

    .blur span {
        position:relative;
        z-index:1;
    }
</style>

<div class="text-center mb-3 rounded blur" style="text-align: center;">
    <span><strong>Баланс: {{ balance }}</strong> Ψ</span>
</div>

<table class="table table-striped">
    <thead>
        <td colspan="2">Данные о фирме:</td>
    </thead>               
    <tbody>
        <tr>
            <th>Номер банковского счета:</th>
            <td>{{ company.bank_account_id }}</td>
        </tr>
        <tr>
            <th>Описание фирмы:</th>
            <td> {{ company.about }} </td>
        </tr>
        <tr>
            <th>Ген. директор:</th>
            <td> {{ CEO.name }} {{ CEO.patronymic }} {{ CEO.last_name }} </td>
        </tr>
        <tr>
            <th>Префектура:</th>
            <td> {{ company.prefecture.name }} </td>
        </tr>
    </tbody>
</table>


<div class="d-grid gap-2 d-mb-block mb-5">
    {% if f_cfo %}
    <form action="{{ url_for( 'proposal.new_money_transaction', _external=True ) }}" method="GET">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="hidden" name="account" value="{{ company.bank_account_id }}">
        <button class="btn btn-outline-primary btn-lg mb-3" style="width: 100%" type="submit">Перевод средств</button>
    </form>
    {% endif %}
    {% if f_mark %}
    <form action="{{ url_for( 'proposal.new_transaction', _external=True ) }}" method="GET">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="hidden" name="account" value="{{ company.bank_account_id }}">
        <button class="btn btn-outline-primary btn-lg mb-3" style="width: 100%" type="submit">Выставить счёт</button>
    </form>

    <form action="{{ url_for( 'proposal.view_transaction', _external=True ) }}" method="GET">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="hidden" name="account" value="{{ company.bank_account_id }}">
        <button class="btn btn-outline-primary btn-lg mb-3" style="width: 100%" type="submit">Входящие счета</button>
    </form>
    {% endif %}
    {% if f_prod %}
    <form action="{{ url_for( 'proposal.view_history', _external=True ) }}" method="GET">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="hidden" name="account" value="{{ company.bank_account_id }}">
        <button class="btn btn-outline-primary btn-lg mb-3" style="width: 100%" type="submit">История счетов</button>
    </form>
    {% endif %}
</div>

<div class="d-grid gap-2 d-mb-block mb-5">
    {% if f_prod %}
        <button class="btn btn-outline-primary btn-lg mb-3" onclick="window.location.href='{{ url_for( 'product.get_company_products', company_bank_account=company.bank_account_id ) }}';">Наши ресурсы/энергия/товары</button>
    {% endif %}
</div>


<div class="d-grid gap-2 d-mb-block mb-5">
    {% if f_ceo or f_found %}
    <button class="btn btn-outline-primary btn-lg mb-3" type="button" onclick="window.location.href='{{ url_for( 'accounts.company_workers', company_id=company.id ) }}'">Сотрудники</button>
    {% endif %}

    <button class="btn btn-outline-primary btn-lg mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#offices" aria-expanded="false" aria-controls="offices">Офисы (магазины)</button>
    <div class="collapse" id="offices">
        <div class="card card-body">
            <ul>
            {% for office in offices %}

                <li>офис в городе {{ office.city.name }}</li>

            {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}