{% extends 'main/base.html' %}

{% block title %}Создание нового офиса{% endblock %}

{% block content %}

<div class="d-grid gap-2 d-mb-block mb-4">

    <form role="form" action="{{ url_for('master.create_office') }}" method="POST" id="form">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="mb-5 input-group input-group-lg">
                <span class="input-group-text" id="inputGroup-sizing-lg">Открываем для (счет фирмы):</span>
                <input type="number" name="company_bank_account" class="form-control text-center" placeholder="Введите данные">
            </div>

            <div class="mb-5 input-group input-group-lg">
                <span class="input-group-text" id="inputGroup-sizing-lg">Открываем в (название города):</span>
                <input type="text" name="city_bank_account" class="form-control text-center" placeholder="Введите данные">
            </div>

            <div class="mb-5 input-group input-group-lg">
                <span class="input-group-text" id="inputGroup-sizing-lg">Списываем со счета:</span>
                <input type="number" name="amount" class="form-control text-center" placeholder="Введите данные">
            </div>

            <div class="d-grid gap-2 d-mb-block mb-4">
                <button type="submit" class="btn btn-success btn-lg mb-3">Подтверждаю</button>
            </div>

    </form>

</div>

{% endblock %}