{% extends 'main/base.html' %}

{% block title %}Создание нового офиса{% endblock %}

{% block content %}

<div class="d-grid gap-2 d-mb-block mb-4">

    <form role="form" action="{{ url_for('master.create_office') }}" method="POST" id="form">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="mb-3">
                <label for="idcomp" class="form-label"><strong>Открываем для:</strong></label>
                <input id="idcomp" type="number" name="company_bank_account" class="form-control text-center" placeholder="Счет фирмы">
            </div>

            <div class="mb-3">
                <label for="cityname" class="form-label"><strong>Название города для офиса:</strong></label>
                <input id="cityname" type="text" name="city_bank_account" class="form-control text-center" placeholder="Например, Архангельск">
            </div>

            <div class="mb-3">
                <label for="count" class="form-label"><strong>Стоимость офиса:</strong></label>
                <input id="count" type="number" name="amount" class="form-control text-center" placeholder="Кол-во надиков">
            </div>

            <div class="d-grid gap-2 d-mb-block mb-4">
                <button type="submit" class="btn btn-success mb-3">Подтверждаю</button>
            </div>

    </form>

</div>

{% endblock %}