{% extends 'main/base.html' %}

{% block title %}Выставить цель{% endblock %}

{% block content %}


<form role="form" action="" method="POST" id="form">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    
    <!-- amount_on_setup, prefecture_current_account_size -->
    <input type="hidden" name="" value=""/> 
    
    <div class="form-group mb-1">
        <input class="form-control text-center" type="number" name="value" min="1" placeholder="Введите цель на сегодня (в надиках):">
    </div>
    <div class="d-grid gap-2 d-mb-block mb-4">
        <button type="submit" class="btn btn-success btn-sm mb-3">Установить цель</button>
    </div>
</form>




{% endblock %}