{% extends 'main/base.html' %}

{% block title %}Выставить цель{% endblock %}

{% block content %}


<form role="form" action="{{ url_for( 'goal_model.create_goal', _external=True ) }}" method="POST" id="form">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <input type="hidden" name="amount_on_setup" value=" {{ current }}"/>
    <input type="hidden" name="bank_account_id" value=" {{ bank_account_id }}"/>
    
    <div class="mb-4">
        <p class="mb-1"><strong> Ваш счёт: </strong> {{ bank_account_id }} </p>
    </div>

    <div class="mb-4">
        <p class="mb-1"><strong> Ваш баланс: </strong> {{ current }} </p>
    </div>

    <div class="form-group mb-4">
        <input class="form-control text-center" type="number" name="value" min="1" placeholder="Введите цель на сегодня (в надиках):">
    </div>

    {% if show_prefecture %}
    <div class="form-group mb-4">
        <input class="form-control text-center" type="text" name="prefecture" placeholder="Выберите префектуру на сегодня:">
    </div>
    {% endif %}
    
    <div class="d-grid gap-2 d-mb-block mb-4">
        <button type="submit" class="btn btn-success btn-sm mb-3">Установить</button>
    </div>
</form>


{% endblock %}