{% extends 'main/base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}

<!-- Здесь можно указать объявление; раскоментируйте при надобности -->
<!-- <div class="alert alert-info d-flex flex-wrap justify-content-center" role="alert">
    danger! ==> Обед через час! ==> Все в столовую!
</div> -->

<div class="d-grid gap-2 d-mb-block mb-4">
    <button class="btn btn-outline-primary btn-lg mb-3" onclick="window.location.href='{{ url_for( 'accounts.person_cabinet' ) }}';">Личный кабинет</button>
    
    <button class="btn btn-outline-primary btn-lg mb-3" onclick="window.location.href='{{ url_for( 'accounts.company_cabinet' ) }}';">Фирма</button>
    
    <button class="btn btn-outline-primary btn-lg mb-3" onclick="window.location.href='{{ url_for( 'accounts.city_cabinet' ) }}';">Город</button>

    <button class="btn btn-outline-primary btn-lg mb-3" onclick="window.location.href='{{ url_for( 'accounts.prefecture_cabinet' ) }}';">Префектура</button>

    <button class="btn btn-outline-primary btn-lg mb-3" onclick="window.location.href='{{ url_for( 'accounts.city_hall_cabinet' ) }}';">Мэрия</button>

    <button class="btn btn-outline-primary btn-lg mb-3" onclick="window.location.href='{{ url_for( 'accounts.master_cabinet' ) }}';">Мастер игры</button>

    <button class="btn btn-outline-primary btn-lg mb-3" onclick="window.location.href='{{ url_for( 'accounts.admin_cabinet' ) }}';">Администратор</button>

</div>

{% endblock %}
