{% extends 'main/base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}

<!-- Здесь можно указать объявление; раскоментируйте при надобности -->
<!-- <div class="alert alert-info d-flex flex-wrap justify-content-center" role="alert">
    danger! ==> Обед через час! ==> Все в столовую!
</div> -->

<div class="d-grid gap-2 d-mb-block mb-4">
    <button class="{{ color_for_big_button }} btn-lg mb-3" onclick="window.location.href='{{ url_for( 'accounts.personal' ) }}';">Личный кабинет</button>

    <button class="{{ color_for_big_button }} btn-lg mb-3" onclick="window.location.href='{{ url_for( 'accounts.company' ) }}';">Фирма</button>

    <button class="{{ color_for_big_button }} btn-lg mb-3" onclick="window.location.href='{{ url_for( 'accounts.city' ) }}';">Город</button>

    <button class="{{ color_for_big_button }} btn-lg mb-3" onclick="window.location.href='{{ url_for( 'accounts.prefecture' ) }}';">Префектура</button>

    <button class="{{ color_for_big_button }} btn-lg mb-3" onclick="window.location.href='{{ url_for( 'accounts.city_hall' ) }}';">Мэрия</button>
{% if current_user.is_admin %}
    <button class="{{ color_for_big_button }} btn-lg mb-3" onclick="window.location.href='{{ url_for( 'accounts.master' ) }}';">Мастер игры</button>
{% endif %}
</div>

{% endblock %}
