{% extends 'main/base.html' %}

{% block title %}Новый счет{% endblock %}

{% block content %}


<form role="form" action="{{ url_for( 'transaction.parse_new_transaction' ) }}" method="POST" id="form">
    <div class="mb-4">
        <p class="mb-1" id="customer-account"><strong> Ваш счёт:</strong> {{ user_bank_account }} </p>
    </div>

    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <input type="hidden" name="bank_account_id" value="{{ user_bank_account }}"/>

    <div class="mb-4">
        <label for="seller-account" class="form-label"><strong>Счёт получателя:</strong></label>
        <input class="form-control text-center" name="seller-account" type="number" placeholder="Введите счёт получателя">
    </div>

    <div class="mb-4">
        <select class="form-select" name="product-name">
            <option class="text-start" selected> Выбрать продукт </option>
            {% for product in products %}
                    <option class="text-start" name="{{ product.name }}" value="{{ product.name }}"> {{ product.name }} </option>
            {% endfor %}
        </select>
    </div>

    <div class="mb-4">
        <label for="count" class="form-label"><strong>Количество товара:</strong></label>
        <input class="form-control text-center" name="count" type="number" placeholder="Введите количество товара">
    </div>

    <div class="mb-4">
        <label for="amount" class="form-label"><strong>Цена сделки:</strong></label>
        <input class="form-control text-center" name="amount" type="number" placeholder="Введите цену сделки">
    </div>

    <div class="d-grid gap-2 d-mb-block mb-4">
        <button type="submit" class="btn btn-success btn-sm mb-3"> Подтверждаю </button>
    </div>
</form>

{% endblock %}
