{% extends 'main/base.html' %}

{% block title %}Перевод{% endblock %}

{% block content %}


<form action="" role="form">

    <div class="mb-4">
        <p class="mb-1" id="custiomer-account"><strong> Ваш счёт:</strong> {{ user_bank_account }} </p>
    </div>

    <div class="mb-4">
        <label for="seller-account" class="form-label"><strong>Счёт получателя:</strong></label>
        <input class="form-control text-center" id="seller-account" type="number" placeholder="Введите счёт получателя">
    </div>

    <div class="mb-4">
        <select class="form-select">
            {% for product in products %}
                {% if product.number == 0 %}
                    <option class="text-start" selected> Выбрать продукт </option>
                {% else %}
                    <option class="text-start" value="{{ product.number }}"> {{ product.name }} </option>
                {% endif %}
            {% endfor %}
        </select>
    </div>

    <div class="mb-4">
        <label for="count" class="form-label"><strong>Кол-во товара:</strong></label>
        <input class="form-control text-center" id="count" type="number" placeholder="Введите кол-во товара">
    </div>

    <div class="d-grid gap-2 d-mb-block mb-4">
        <button type="submit" id="send-button" class="btn btn-success btn-lg mb-3"> Подтверждаю </button>
    </div>

</form>


<script>
    function sendRequest() {
        var product_name = document.getElementById('product-selector').value;
        var count = document.getElementById('count').value;
        var customer_bank_account = document.getElementById('customer-account').value;
        var seller_bank_account = document.getElementById('seller-account').value;

        var data = {
            seller_account: seller_bank_account,
            customer_account: customer_bank_account,
            product: product_name,
            product_count: count,
            amount: 0
        };

        var xhr = new XMLHttpRequest();
        xhr.open('POST', 'https://localhost/transaction/create', true);
        xhr.setRequestHeader('Content-Type', 'application/json');

        xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    var responseData = JSON.parse(xhr.responseText);
                    console.log('Success:', responseData);
                } else {
                    console.error('Error:', xhr.status, xhr.statusText);
                }
                console.log('Request complete');
            }
        };
        xhr.send(JSON.stringify(data));
    }

    document.getElementById('send-button').addEventListener('click', sendRequest);
</script>

{% endblock %}
