{% extends 'main/base.html' %}

{% block title %}Префектура для мастера{% endblock %}

{% block content %}

<div class="d-grid gap-2 d-mb-block mb-4">

    <button class="btn btn-outline-dark btn-lg mb-3" onclick="window.location.href='{{ url_for( 'master.edit_data' ) }}';">Назначить префекта</button>

    <button class="btn btn-outline-dark btn-lg mb-3" onclick="window.location.href='{{ url_for( 'master.edit_data' ) }}';">Назначить зам. префекта по экономической политике</button>

    <button class="btn btn-outline-dark btn-lg mb-3" onclick="window.location.href='{{ url_for( 'master.edit_data' ) }}';">Назначить зам. министра по социальной политике</button>

    <button class="btn btn-outline-dark btn-lg mb-3" onclick="">Представительства - списать</button>

    <button class="btn btn-outline-dark btn-lg mb-3" onclick="">Добавить элемент инфраструктуры</button>

</div>

{% endblock %}