{% extends 'main/base.html' %}

{% block title %}Корректировать/занести данные (мастер игры){% endblock %}


{% block content %}

<!-- <form role="form" action="" method="POST" id="form">
    <select class="form-select form-select-lg mb-5">
        <option selected>Выберете действие (для мэрии)</option>
        <option value="1">Назначить мэра</option>
        <option value="2">Назначить министра экономики</option>
        <option value="3">Назначить министра социальной политики</option>
    </select>

    <select class="form-select form-select-lg mb-2">
        <option selected>Выберете действие (для префектуры)</option>
        <option value="1">Назначить префекта</option>
        <option value="2">Назначить зам. префекта по экономической политике</option>
        <option value="3">Назначить зам. министра по социальной политике</option>
    </select>

    <div class="mb-5 input-group input-group-lg">
        <span class="input-group-text" id="inputGroup-sizing-lg">Префектура:</span>
        <input type="text" class="form-control text-center" placeholder="Введите данные">
    </div>
    
    <select class="form-select form-select-lg mb-2">
        <option selected>Выберете действие (для фирмы)</option>
        <option value="1">Изменить ген.директора</option>
    </select>

    <div class="mb-5 input-group input-group-lg">
        <span class="input-group-text" id="inputGroup-sizing-lg">Фирма:</span>
        <input type="text" class="form-control text-center" placeholder="Введите данные">
    </div>

    <select class="form-select form-select-lg mb-2">
        <option selected>Выберете действие (для города)</option>
        <option value="1">Назначить главу города</option>
    </select>

    <div class="mb-5 input-group input-group-lg">
        <span class="input-group-text" id="inputGroup-sizing-lg">Город:</span>
        <input type="text" class="form-control text-center" placeholder="Введите данные">
    </div>

    <div class="mb-5 input-group input-group-lg">
        <span class="input-group-text" id="inputGroup-sizing-lg">Назначаем:</span>
        <input type="text" class="form-control text-center" placeholder="Введите данные">
    </div>

    <div class="d-grid gap-2 d-mb-block mb-4">
        <button type="submit" class="btn btn-success btn-lg mb-3">Подтверждаю</button>
    </div>
</form> -->


<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading1">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                Мэрия
            </button>
        </h2>
        <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="heading1" data-bs-parent="#accordionExample">
            <form role="form" action="" method="POST" id="form">
                <div class="accordion-body">
                    <select class="form-select form-select-lg mb-5">
                        <option selected>Выберете действие</option>
                        <option value="1">Назначить мэра</option>
                        <option value="2">Назначить министра экономики</option>
                        <option value="3">Назначить министра социальной политики</option>
                    </select>

                    <div class="mb-5 input-group input-group-lg">
                        <span class="input-group-text" id="inputGroup-sizing-lg">Назначаем (id):</span>
                        <input type="text" class="form-control text-center" placeholder="Введите данные">
                    </div>

                    <div class="d-grid gap-2 d-mb-block mb-4">
                        <button type="submit" class="btn btn-success btn-lg mb-3">Подтверждаю</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="heading2">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                Префектура
            </button>
        </h2>
        <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2" data-bs-parent="#accordionExample">
            <form role="form" action="" method="POST" id="form">
                <div class="accordion-body">
                    <select class="form-select form-select-lg mb-2">
                        <option selected>Выберете действие</option>
                        <option value="1">Назначить префекта</option>
                        <option value="2">Назначить зам. префекта по экономической политике</option>
                        <option value="3">Назначить зам. министра по социальной политике</option>
                    </select>
                
                    <div class="mb-5 input-group input-group-lg">
                        <span class="input-group-text" id="inputGroup-sizing-lg">Префектура:</span>
                        <input type="text" class="form-control text-center" placeholder="Введите данные">
                    </div>

                    <div class="mb-5 input-group input-group-lg">
                        <span class="input-group-text" id="inputGroup-sizing-lg">Назначаем (id):</span>
                        <input type="text" class="form-control text-center" placeholder="Введите данные">
                    </div>

                    <div class="d-grid gap-2 d-mb-block mb-4">
                        <button type="submit" class="btn btn-success btn-lg mb-3">Подтверждаю</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="heading3">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                Фирма
            </button>
        </h2>
        <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3" data-bs-parent="#accordionExample">
            <form role="form" action="" method="POST" id="form">
                <div class="accordion-body">
                    <select class="form-select form-select-lg mb-2">
                        <option selected>Выберете действие</option>
                        <option value="1">Изменить ген.директора</option>
                    </select>
                
                    <div class="mb-5 input-group input-group-lg">
                        <span class="input-group-text" id="inputGroup-sizing-lg">Фирма:</span>
                        <input type="text" class="form-control text-center" placeholder="Введите данные">
                    </div>
                    
                    <div class="mb-5 input-group input-group-lg">
                        <span class="input-group-text" id="inputGroup-sizing-lg">Назначаем (id):</span>
                        <input type="text" class="form-control text-center" placeholder="Введите данные">
                    </div>

                    <div class="d-grid gap-2 d-mb-block mb-4">
                        <button type="submit" class="btn btn-success btn-lg mb-3">Подтверждаю</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="heading4">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                Город
            </button>
        </h2>
        <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4" data-bs-parent="#accordionExample">
            <form role="form" action="" method="POST" id="form">
                <div class="accordion-body">
                    <select class="form-select form-select-lg mb-2">
                        <option selected>Выберете действие</option>
                        <option value="1">Назначить главу города</option>
                    </select>
                
                    <div class="mb-5 input-group input-group-lg">
                        <span class="input-group-text" id="inputGroup-sizing-lg">Город:</span>
                        <input type="text" class="form-control text-center" placeholder="Введите данные">
                    </div>

                    <div class="mb-5 input-group input-group-lg">
                        <span class="input-group-text" id="inputGroup-sizing-lg">Назначаем (id):</span>
                        <input type="text" class="form-control text-center" placeholder="Введите данные">
                    </div>

                    <div class="d-grid gap-2 d-mb-block mb-4">
                        <button type="submit" class="btn btn-success btn-lg mb-3">Подтверждаю</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>




{% endblock %}