{% extends 'main/base.html' %}

{% block title %}Личный кабинет мастера{% endblock %}

{% block content %}

<div class="d-grid gap-2 d-mb-block mb-4">

    <button class="btn btn-outline-dark btn-lg mb-3" onclick="window.location.href='{{ url_for( 'master.create_product' ) }}';"">Зарегистрировать товар</button>

    <button class="btn btn-outline-dark btn-lg mb-3" onclick="window.location.href='{{ url_for( 'master.master_company' ) }}';">Действия с фирмой</button>

    <button class="btn btn-outline-dark btn-lg mb-3" onclick="window.location.href='{{ url_for( 'master.master_city' ) }}';">Действия с городом</button>

    <button class="btn btn-outline-dark btn-lg mb-3" onclick="window.location.href='{{ url_for( 'master.master_prefecture' ) }}';">Дейсвтия с префектурой</button>

    <button class="btn btn-outline-dark btn-lg mb-3" onclick="window.location.href='{{ url_for( 'master.master_city_hall' ) }}';">Действия с мэрией</button>

</div>

{% endblock %}