{% extends 'main/base.html' %}

{% block title %}Создание наименования продукта{% endblock %}

{% block content %}

        <form class="new_product" style="display: grid;" method="POST">

            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    <ul class="flashes">
                        {% for category, message in messages %}
                            <li class="{{ category }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            {{ form.csrf_token }}
            <div class="mb-3">
                {{ form.product_name.label(class="form-label") }} {{ form.product_name(class="form-control", placeholder="Введите данные") }}
            </div>
            <div class="mb-3">
                {{ form.category.label(class="form-label") }} {{ form.category(class="form-select") }}
            </div>
            <div class="mb-3">
                {{ form.level.label(class="form-label") }} {{ form.level(class="form-select") }}
            </div>

            <p></p>
            <div class="d-grid gap-2 d-mb-block mb-4">
                {{ form.submit(type="submit", class="btn btn-success") }}
            </div>
        </form>

{% endblock %}