{% extends 'main/base.html' %}

{% block title %}Создание фирмы{% endblock %}

{% block content %}

        <form class="new_company" style="display: grid;" method="POST">

            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    <ul class="flashes" style="">
                        {% for category, message in messages %}
                            <li class="{{ category }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            {{ form.csrf_token }}
            <div class="mb-3">
                {{ form.company_name.label(class="form-label") }} {{ form.company_name(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.about.label(class="form-label") }} {{ form.about(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.founders.label(class="form-label") }} {{ form.founders(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.prefecture.label(class="form-label") }} {{ form.prefecture(class="form-select") }}
            </div>

            <p></p>
            <div class="d-grid gap-2 d-mb-block mb-4">
                {{ form.submit(type="submit", class="btn btn-success") }}
            </div>
        </form>

{% endblock %}