{% extends 'main/base.html' %}

{% block title %}Личный кабинет{% endblock %}

# стили сделаны для того, чтобы хоть что-то было

{% block content %}
    <div class="col-6 text-center">
        <h2>Добрый день {{ current_user.name }}</h2>
    </div>
<block style="display: flex; justify-content: center; text-align: center">
    <block style="display: grid">
        <a href="{{ url_for('transaction.transaction_page', _external=True) }}" style="
            background-color: #1E90FF;
            border: none;
            border-radius: 5px ;
            color: white;
            padding: 10px 20px;
            text-decoration: none;
            font-size: 16px;
            cursor: pointer;">
            Перевод
        </a>
        <p></p>
        <a href="{{ url_for('suggestion.sug', _external=True) }}" style="
            background-color: #1E90FF;
            border: none;
            border-radius: 5px ;
            color: white;
            padding: 10px 20px;
            text-decoration: none;
            font-size: 16px;
            cursor: pointer;">
            Сделать предложение
        </a>
        <p></p>
        <a href="{{ url_for('user_suggestions.user_sugs', _external=True) }}" style="
            background-color: #1E90FF;
            border: none;
            border-radius: 5px ;
            color: white;
            padding: 10px 20px;
            text-decoration: none;
            font-size: 16px;
            cursor: pointer;">
            Входящие предложения
        </a>
    </block>
</block>
{% endblock %}