{% extends 'main/base.html' %}

{% block title %}Личный кабинет{% endblock %}

# стили сделаны для того, чтобы хоть что-то было

{% block content %}
<div class="col-6 text-center">
    {% if current_user.is_authenticated %}
        <h2 d-flex flex-wrap justify-content-center>Добрый день, {{ current_user.name }}!</h2>
    {% endif %}
</div>
<block class="mb-3" style="display: flex; justify-content: center; text-align: center">
    <block style="display: grid">
        <a class="btn btn-primary btn-lg" role="button" href="{{ url_for('transaction.transaction_page', _external=True) }}">
            Перевод
        </a>
        <p></p>
        <a class="btn btn-primary btn-lg" role="button" href="{{ url_for('suggestion.proposal', _external=True) }}">
            Сделать предложение
        </a>
        <p></p>
        <a class="btn btn-primary btn-lg" role="button" href="{{ url_for('user_suggestions.get_user_suggestions', _external=True) }}">
            Входящие предложения
        </a>
    </block>
</block>
{% endblock %}