{% extends 'main/base.html' %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}
<div class="accordion">
    <div class="accordion-item">
        <h2 class="accordion-header"id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Профиль
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <table class="table table-striped">
                    <thead>
                        <td colspan="2">Ваши данные:</td>
                    </thead>               
                    <tbody>
                        {% for entry in user_spec %}
                        <tr>
                            <th> {{ entry.name|capitalize }}: </th>
                            <td> {{ entry.value }} </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="2"></td>
                            <div class="text-wrap text-start mb-5">
                                <p class="mb-1"><strong>Цель по доходу в день:</strong> <b>{{ goal.value }}</b> надиков, выполнено:</p>
                            <div class="progress">
                                <div class="bg-success progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow={{ goal.rate }} aria-valuemin="0" aria-valuemax="100" style="width: {{ goal.rate }}%">{{ goal.rate }} %</div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                </table>
                <block style="display: grid">
                    <a class="{{ color_for_button }} btn-lg" role="button" href="{{ url_for('product.get_user_products', _external=True) }}">
                        Ваши продукты
                    </a>
                </block>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Операции со счетом
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <block style="display: grid">
                    <p></p>
                    <a class="{{ color_for_button }} btn-lg" role="button" href="{{ url_for('proposal.new_money_transaction', _external=True) }}">
                        Перевод
                    </a>
                    <p></p>
                    <a class="{{ color_for_button }} btn-lg" role="button" href="{{ url_for('proposal.new_transaction', _external=True) }}">
                        Выставить счет
                    </a>
                    <p></p>
                    <a class="{{ color_for_button }} btn-lg" role="button" href="{{ url_for('proposal.view_transaction', _external=True) }}">
                        Неоплаченные счета
                    </a>
                    <p></p>
                    <a class="{{ color_for_button }} btn-lg" role="button" href="{{ url_for('proposal.view_history', _external=True) }}">
                        История транзакций
                    </a>
                    <p></p>
                </block>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Товары
            </button>
        </h2>
        <!-- <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p></p>
                <block style="display: grid">
                    <a class="{{ color_for_button }} btn-lg" role="button" href="{{ url_for('product.get_user_products', _external=True) }}">
                        Ваши продукты
                    </a>
                </block>
                <p></p>
            </div>
        </div> -->
    </div>
</div>

{% endblock %}