{% extends 'main/base.html' %}

{% block title %}Личный кабинет префектуры{% endblock %}

{% block content %}

<style>
    .blurn {
        position:relative;
    }

    .blurn:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        {% if prefecture.name == 'Южная' %}
            background: pink;
        {% elif prefecture.name == 'Северная' %}
            background: lightblue;
        {% elif prefecture.name == 'Западная' %}
            background: Indigo;
        {% elif prefecture.name == 'Восточная' %}
            background: yellow;
        {% else %}
            background: gold;
        {% endif %}
        filter: blur(32px);
        z-index:0;
    }

    .blurn h3 {
        position:relative;
        z-index:1;
    }
</style>

<div class="text-wrap blurn text-center mb-3 rounded border-bottom">
    <h3><strong>Префектура {{ prefecture.name }}</strong></h3>
</div>

<style>
    .blur {
        position:relative;
    }

    .blur:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(0deg, rgba(101,195,228,0.6601466992665037) {{ 100 - (prefecture_current_account_size/1000) }}%, rgba(251,171,0,0.5990220048899755) {{ prefecture_current_account_size/1000 }}%);
        filter: blur(16px);
        z-index:0;
    }

    .blur span {
        position:relative;
        z-index:1;
    }
</style>

<div class="text-center mb-3 rounded blur" style="text-align: center;">
    <span><strong>Баланс: {{ prefecture_current_account_size }}</strong> Ψ</span>
</div>

<table class="table table-striped">
    <thead>
        <td colspan="2">Данные о префектуре:</td>
    </thead>               
    <tbody>
        <tr>
            <th>Номер банковского счета:</th>
            <td> {{ prefecture.bank_account_id }} </td>
        </tr>
        <tr>
            <th>Префект:</th>
            <td> {{ prefecture.prefect.full_name_string }} </td>
        </tr>
        <tr>
            <th>Заместитель префекта по экономической политике::</th>
            <td> {{ prefecture.economic_assistant.full_name_string }} </td>
        </tr>
        <tr>
            <th>Заместитель министра по социальной политике:</th>
            <td> {{ prefecture.social_assistant.full_name_string }} </td>
        </tr>
    </tbody>
</table>



{% if not prefecture_goal %}
    <div class="text-wrap text-start mb-5">
        <p class="mb-1"><strong>Цель по доходу в день:</strong> <b>не установлена</b></p>
    </div>
    {% if prefecture.prefect and prefecture.prefect.id == user.id %}
        <form role="form" action="{{ url_for( 'goal.create_goal' ) }}" method="POST" id="form">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type="hidden" name="bank_account_id" value="{{ prefecture.bank_account_id }}"/>
        <input type="hidden" name="amount_on_setup" value="{{ prefecture_current_account_size }}"/>
        <div class="form-group mb-1">
            <input class="form-control text-center" type="number" name="value" min="1" placeholder="Введите цель на сегодня (в надиках):">
        </div>
        <div class="d-grid gap-2 d-mb-block mb-4">
            <button type="submit" class="btn btn-success btn-sm mb-3">Установить цель</button>
        </div>
    </form>
    {% endif %}
{% else %}
    <div class="text-wrap text-start mb-5">
        <p class="mb-1"><strong>Цель по доходу в день:</strong> <b>{{ prefecture_goal.value }}</b> Ψ</p>
        <div class="progress">
            <div class="bg-success progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow={{ goal_win_rate }} aria-valuemin="0" aria-valuemax="100" style="width: {{ goal_win_rate }}%">{{ goal_win_rate }}%</div>
        </div>
    </div>
{% endif %}
{% if prefecture.economic_assistant and prefecture.economic_assistant.id == user.id %}
    <block class="mb-3" style="display: flex; justify-content: center; text-align: center">
        <block style="display: grid">
            <a class="btn btn-dark btn-lg" role="button" href="{{ url_for('proposal.new_transaction', account=prefecture.bank_account_id, _external=True) }}">
                Перевод
            </a>
            <p></p>
            <a class="btn btn-dark btn-lg" role="button" href="{{ url_for('proposal.view_transaction', account=prefecture.bank_account_id, _external=True) }}">
                Выставить счет
            </a>
            <p></p>
            <a class="btn btn-dark btn-lg" role="button" href="{{ url_for('proposal.view_transaction', account=prefecture.bank_account_id, _external=True) }}">
                Неоплаченные счета
            </a>
        </block>
    </block>
{% endif %}

<div class="d-grid gap-2 d-mb-block mb-5">
    <button class="btn btn-outline-dark btn-lg mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#cities" aria-expanded="false" aria-controls="cities">
        Население
    </button>
    
    <div class="collapse" id="cities">
        <div class="card card-body">
            <ul>
                {% for city in prefecture.cities %}
                    <li>
                        <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#{{ city.id }}" aria-expanded="false" aria-controls="{{ city.id }}">
                            Жители города {{ city.name }}
                        </button>
                        <p></p>
                        <div class="collapse" id="{{ city.id }}">
                            <div class="card card-body">
                                <ul>
                                {% for user in city.users %}
                                    <li>{{ user.full_name_string }}</li>
                                {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <p></p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

</div>
<div class="d-grid gap-2 d-mb-block mb-5">
    <button class="btn btn-outline-dark btn-lg mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#infrastructures" aria-expanded="false" aria-controls="infrastructures">
        Инфраструктурные объекты
    </button>
    <div class="collapse" id="infrastructures">
            <div class="card card-body">
                {% for infrastructure in prefecture.infrastructures %}
                    <li>{{ infrastructure.name }}</li>
                {% endfor %}
            </div>
    </div>
</div>
{% endblock %}