{% extends 'main/base.html' %}

{% block title %}Перевод{% endblock %}

{% block content %}

<div class="mb-3">
    <p class="mb-1"><strong>Ваш счёт:</strong> 1234567</p>
</div>

<div class="mb-3">
    <input class="form-control text-center" type="text" placeholder="Счёт получателя:">
</div>

<div class="mb-3 row">
    <select class="form-select">
        <option class="text-start" selected>Выбрать продукт</option>
        <option class="text-start" value="1">Пирожки с капустой</option>
        <option class="text-start" value="2">Пирожки с мясом</option>
        <option class="text-start" value="3">Пирожки с картошкой</option>
    </select>
</div>

<div class="mb-3">
    <input class="form-control text-center" type="text" placeholder="Кол-во товара:">
</div>
<div class="d-grid gap-2 d-mb-block mb-4">
    <button type="submit" class="btn btn-primary btn-lg mb-3">Подтверждаю</button>
</div>
{% endblock %}
