{% extends 'main/base.html' %}

{% block title %}Перевод{% endblock %}

{% block content %}


<div class="text-wrap text-center mb-4">
    <p class="mb-1"><strong>Ваши транзакции:</strong></p>
</div>

<div class="card" style="width: 100%">
    <table class="table table-striped">
        <tbody>
            <tr>
                <td>123131</td>
                <td>Пирожки (капуста)</td>
                <td>x5</td>
                <td>мильон</td>
            </tr>
            <tr>
                <td colspan="4">
                    <button type="button" class="btn btn-success">Принять</button>
                    <button type="button" class="btn btn-danger">Отклонить</button>
                </td>
            </tr>
            <tr>
                <td>3242422</td>
                <td>Пирожки (картошка)</td>
                <td>x8</td>
                <td>мильард</td>
            </tr>
            <tr>
                <td colspan="4">
                    <button type="button" class="btn btn-success">Принять</button>
                    <button type="button" class="btn btn-danger">Отклонить</button>
                </td>
            </tr>
            <tr>
                <td>65666</td>
                <td>Пирожки (яйцо)</td>
                <td>x2</td>
                <td>100</td>
            </tr>
            <tr>
                <td colspan="4">
                    <button type="button" class="btn btn-success">Принять</button>
                    <button type="button" class="btn btn-danger">Отклонить</button>
                </td>
            </tr>
            <tr>
                <td>666</td>
                <td>Пирожки (лук)</td>
                <td>x100</td>
                <td>писот (500)</td>
            </tr>
            <tr>
                <td colspan="4">
                    <button type="button" class="btn btn-success">Принять</button>
                    <button type="button" class="btn btn-danger">Отклонить</button>
                </td>
            </tr>
            <tr>
                <td>7777</td>
                <td>Пирожки (рыба)</td>
                <td>x0</td>
                <td>0</td>
            </tr>
            <tr>
                <td colspan="4">
                    <button type="button" class="btn btn-success">Принять</button>
                    <button type="button" class="btn btn-danger">Отклонить</button>
                </td>
            </tr>
            <tr>
                <td>999151</td>
                <td>Пирожки (без_идей)</td>
                <td>x888</td>
                <td>мильард</td>
            </tr>
            <tr>
                <td colspan="4">
                    <button type="button" class="btn btn-success">Принять</button>
                    <button type="button" class="btn btn-danger">Отклонить</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}