{% extends 'main/base.html' %}

{% block title %}Добавление csv файла{% endblock %}

{% block content %}
    <block>
        <form method="POST" enctype="multipart/form-data" action="{{ url_for('upload_csv.add_csv', _external=True) }}">
            <p>csv for prefectures</p>
            <input type="file" name="prefectures" accept=".csv">
            <p>csv for cities</p>
            <input type="file" name="cities" accept=".csv" value="cities">
            <p>csv for users</p>
            <input type="file" name="users" accept=".csv" value="users">
            <input type = "submit" value="upload">
        </form>
    </block>
{% endblock %}