{% extends 'main/base.html' %}

{% block title %} История транзакций {% endblock %}

{% block content %}

<div class="text-wrap text-center mb-4">
    <p class="mb-1"><strong> Транзакции, выполненные вами </strong></p>
</div>

<div class="card" style="width: 100%">
  <div class="table-responsive">
    <table class="table table-stripped">
        <thead>
          <th scope="col"> Номер транзакции </th>
          <th scope="col"> Товар </th>
          <th scope="col"> Количество </th>
          <th scope="col"> Цена </th>
          <th scope="col"> Статус </th>
          <th scope="col"> Время </th>
          <th scope="col"> Сторона сделки </th>
          <th scope="col"> Вторая сторона сделки </th>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                {% if transaction.status == 'approved' %}
                    <tr class="table-success">
                {% elif transaction.status == 'rejected' %}
                    <tr class="table-danger">
                {% else %}
                    <tr>    
                {% endif %}
                    <td> {{ transaction.transaction_id }} </td>
                    <td> {{ transaction.product }} </td>
                    {% if transaction.is_money %}
                      <td colspan="2"> {{ transaction.count }} </td>
                    {% else %}
                      <td> {{ transaction.count }} </td>
                      <td> {{ transaction.amount }} </td>
                    {% endif %}
                    <td> {{ transaction.status }} </td>
                    <td> {{ transaction.updated_at }} </td>
                    <td> {{ transaction.side }} </td>
                    <td> {{ transaction.second_side }} </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
</div>

{% endblock %}