{% extends 'main/base.html' %}

{% block title %} Перевод {% endblock %}

{% block content %}

<div class="text-wrap text-center mb-4">
    <p class="mb-1"><strong> Ваши транзакции: </strong></p>
</div>

<div class="card" style="width: 100%">
    <table class="table table-striped">
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td> {{ transaction.transaction_id }} </td>
                    <td> {{ transaction.product }} </td>
                    <td> {{ transaction.count }} </td>
                    <td> {{ transaction.amount }}</td>
                </tr>
                <tr>
                    <!-- надо что-то с кнопками придумать -->
                    <td colspan="4">
                        <button type="button" class="btn btn-success">Принять</button>
                        <button type="button" class="btn btn-danger">Отклонить</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}