{% extends 'main/base.html' %}

{% block title %} Добавленные продукты {% endblock %}

{% block content %}

<div class="text-wrap text-center mb-4">
    <p class="mb-1"><strong> Все добавленные продукты </strong></p>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col"> Название товара </th>
            <th scope="col"> Уровень </th>
        </tr>
    </thead>
    {% for category in categories %}
        <thead>
            <tr>
                <th scope="col" colspan="3"> {{ category }} </th>
            </tr>
        </thead>
        {% for product in products %}
            {% if product.category == category %}
                {% if product.level == 0 %}
                <tr>
                    <td class="table-light"> {{ product.name }} </td>
                    <td class="table-light"> {{ product.level }} </td>
                </tr>
                {% elif product.level == 1 %}
                <tr>
                    <td class="table-info"> {{ product.name }} </td>
                    <td class="table-info"> {{ product.level }} </td>
                </tr>
                {% elif product.level == 2 %}
                <tr>
                    <td class="table-primary"> {{ product.name }} </td>
                    <td class="table-primary"> {{ product.level }} </td>
                </tr>
                {% elif product.level == 4 %}
                <tr>
                    <td class="table-warning"> {{ product.name }} </td>
                    <td class="table-warning"> {{ product.level }} </td>
                </tr>
                {% else %}
                <tr>
                    <td class="table-light"> {{ product.name }} </td>
                    <td class="table-light"> {{ product.level }} </td>
                </tr>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endfor %}
    </tbody>
</table>

{% endblock %}
