{% extends 'main/base.html' %}

{% block title %} Перевод {% endblock %}

{% block content %}

<div class="text-wrap text-center mb-4">
    <p class="mb-1"><strong> Ваши транзакции: </strong></p>
</div>

<div class="card" style="width: 100%">
    <script>
        function sendRequest(user_status, id, url) {
            var data = {
                status: user_status,
                transaction_id: id
            };

            var xhr = new XMLHttpRequest();
            xhr.open('POST', url, true);
            xhr.setRequestHeader('Content-Type', 'application/json');

            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        var responseData = xhr.responseText;
                        console.log('Success:', responseData);
                        location.reload();
                    } else {
                        alert('Ошибка: ' + xhr.response)
                        console.error('Error:', xhr.status, xhr.statusText);
                    }
                    console.log('Request complete');
                }
            };
            xhr.send(JSON.stringify(data));
        }
    </script>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <th>Номер транзакции</th>
                <th>Название</th>
                <th> <!-- жирно --> Количество <!-- жирно --> </th> <!-- Жалко Рому -->
                <th>Цена</th>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                    <tr>
                        <td> {{ transaction.transaction_id }} </td>
                        <td> {{ transaction.product }} </td>
                        <td> x{{ transaction.count }} </td>
                        <td> {{ transaction.amount }}</td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <button type="button" class="btn btn-success" onclick="sendRequest('approved', {{ transaction.transaction_id }}, '{{ url_for('transaction.decide_on_proposal', _external=True) }}')">Принять</button>
                            <button type="button" class="btn btn-danger" onclick="sendRequest('declined', {{ transaction.transaction_id }}, '{{ url_for('transaction.decide_on_proposal', _external=True) }}')">Отклонить</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}