{% extends 'main/base.html' %}

{% block title %} Просмотр рынка {% endblock %}

{% block content %}

<table class="table table-striped">
    <thead>
        <td colspan="2"> Общие данные о состоянии рынка: </td>
    </thead>               
    <tbody>
        {% for entry, value in spec.items() %}
        <tr>
            <th> {{ entry|capitalize }}: </th>
            <td> {{ value }} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div>
    <div class="mb-3" style="width: 100%">
        <td class="justify-content-center" colspan="3"> <img src='data:image/png;base64,{{ plotted_share }}'/> </td>
    </div>
    <div class="mb-3" style="width: 100%">
        <td class="justify-content-center" colspan="3"> <img src='data:image/png;base64,{{ plotted_loss}}'/> </td>
    </div>
    <div class="mb-3" style="width: 100%">
        <td class="justify-content-center" colspan="3"> <img src='data:image/png;base64,{{ plotted_gain }}'/> </td>
    </div>
</div>

<div class="mb-2">
    <form role="form" action="{{ url_for( 'statistics.view_company_statistics', _external=True ) }}" method="GET">
        <div class="container">
            <div class="row">
                <label for="company" class="form-label"><strong> Компания: </strong></label>
                <select name="company" class="form-select">
                    {% for company in companies %}
                        <option value="{{ company.bank_account_id }}"> {{ company.name }} </option>
                    {% endfor %}
                </select>
                <p></p>
            </div>
            <div class="row">
                    <button type="submit" class="btn btn-success mb-3"> Просмотреть </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}