{% extends 'main/base.html' %}

{% block title %} Просмотр статистики компании {% endblock %}

{% block content %}

<table class="table table-striped">
    <thead>
        <td colspan="2"> Данные компании: </td>
    </thead>               
    <tbody>
        {% for entry, value in company_spec.items() %}
        <tr>
            <th> {{ entry|capitalize }}: </th>
            <td> {{ value }} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<table class="table table-striped">
    <thead>
        <th> Товар </th>
        <th> Покупка/Производство </th>
        <th> Продажа </th>
    </thead>
    <thead>
        <th colspan="3"> Всего </th>
    </thead>              
    <tbody>
        {% for name, payload in distributed['total'].items() %}
        <tr>
            <td> {{ name }} </td>
            <td> {{ payload['away'] }} </td>
            <td> {{ payload['in'] }} </td>
        </tr>
        {% endfor %}
    </tbody>
    <thead>
        <th colspan="3"> За последний день </th>
    </thead>              
    <tbody>
        {% for name, payload in distributed['shifted'].items() %}
        <tr>
            <td> {{ name }} </td>
            <td> {{ payload['away'] }} </td>
            <td> {{ payload['in'] }} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="mb-2">
    <div class="mb-3" style="width: 100%">
        <td class="justify-content-center" colspan="3"> <img src='data:image/png;base64,{{ plot }}'/> </td>
    </div>
</div>

{% endblock %}