{% extends 'main/base.html' %}

{% block title %} История потребления {% endblock %}

{% block content %}

<div class="text-wrap text-center mb-4">
    <p class="mb-1"><strong> История потребления товаров </strong></p>
</div>

<div class="card" style="width: 100%">
  <div class="table-responsive">
    <table class="table table-stripped">
        <thead>
          <th scope="col"> Автоматическое списание </th>
          <th scope="col"> Время потребления </th>
          <th scope="col"> Категория </th>
          <th scope="col"> Цена автоматического списания </th>
        </thead>
        <tbody>
            {% for row in payload %}
                {% if row['Автоматическое списание'] == 'нет' %}
                    <tr class="table-light">
                {% else %}
                    <tr class="table-warning">
                {% endif %}
                    <td> {{ row['Автоматическое списание'] }} </td>
                    <td> {{ row['Время потребления'] }} </td>
                    <td> {{ row['Категория'] }} </td>
                    <td> {{ row['Цена автоматического списания'] }} </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
</div>

{% endblock %}
