.blur {
    height: 222px;
    position:relative;
    font-size:40px;
    text-align:center;
}

.blur:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    background: linear-gradient(0deg, rgba(101,195,228,0.6601466992665037) {{ 100 - (balance/1000) }}%, rgba(251,171,0,0.5990220048899755) {{ balance/1000 }}%);
    filter: blur(5px);
    z-index:0;
}

.blur span {
    position:relative;
    z-index:1;
}