.transaction_form_container {
    display: flex;
    justify-content: center;
}

.transaction_form {
    display: grid;
    width: 70%;
}


li.info {
    background: #ADD8E6;
    border-color: #1E90FF;
    border-radius: 10px;
    align: center;
}

li.warning {
    background: #FFDAB9;
    border-color: #FF6347;
    border-radius: 10px;
    align: center;
}
