{% macro set_color_to_big_button(prefecture_name) %}
    {% if prefecture_name == 'Юг' %}
        btn btn-outline-danger
    {% elif prefecture_name == 'Восток' %}
        btn btn-outline-warning
    {% elif prefecture_name == 'Запад' %}
        btn btn-outline-secondary
    {% elif prefecture_name == 'Север' %}
        btn btn-outline-primary
    {% else %}
        btn btn-outline-dark
    {% endif %}
{% endmacro %}

{% macro set_color_to_button(prefecture_name) %}
    {% if prefecture_name == 'Юг' %}
        btn btn-danger
    {% elif prefecture_name == 'Восток' %}
        btn btn-warning
    {% elif prefecture_name == 'Запад' %}
        btn btn-secondary
    {% elif prefecture_name == 'Север' %}
        btn btn-primary
    {% else %}
        btn btn-dark
    {% endif %}
{% endmacro %}
